@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote {
    color: #000;
    height: 2em;
    text-align: center;
    font-family: 'Caveat', cursive;
}
.quote-amount {
    margin: 2em;
    width: 10%;
}
.generate-btn {
    text-transform: uppercase;
    background-color: red;
    margin: 2em;
}
.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
